/* academic.css */

.academic {
    display: flex;
    margin: 0;
    padding: 0;
  }

.aboutus{
    flex: 2;
}
  .container {
    flex: 2;
  }
  
  .container h4 {
    background-color: orange;
    padding: 10px;
    margin: 0;
  }
  
  .container ul {
    list-style: none;
    background-color: blue;
    padding: 0;
    margin: 0;
    text-align: justify;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .container ul li {
    padding: 10px;
    text-wrap: nowrap;
  }
  
  .container ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  