.advisor{
    display: flex;
}
h2 {
    font-size: 110%;
    font-weight: bold;
    color: #ffffff;
    background: #f39f49;
    padding: 8px 3px 8px 3px;
}
p, ol, ul {
    line-height: 140%;
}