.contentbfull {
    float: right;
    width: 1024px;
    border: solid 1px #cfcfcf;
}

div {
    display: block;
    unicode-bidi: isolate;
}
h3 {
    font-size: 100%;
    font-weight: bold;
    color: #FF6600;
}